.page-title {
    float: left;
    font-size: 30px;
    margin-left: 1%;
    font-weight: bold;
}

.search-criteria-container {
    text-align: right;
    margin-right: 1%;
    padding-top: 15px;
    padding-bottom: 10px;
}

.search-criteria-container input[type=text] {
    width: 25%;
}

.thumbnails-section {
    float: left;
    width: 38%;
    height: 440px;
    margin-left: 1%;
}

.thumbnail-with-meta-data {
    width: 50%;
    height: 50%;
}

.thumbnail {
    width: 95%;
    height: 70%;
}

.title, .author, .tags {
    width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.image-preview-section {
    width: 60%;
    float: right;
    margin-right: 1%;
}

.relative-top-left-corner {
    top: 0;
    left: 0;
    position: relative;
}

.image-preview {
    width: 100%;
    height: 425px;
    margin-bottom: 11px;
}

.spinner-container {
    top: 0;
    background: white;
    border: 1px solid;
    position: absolute;
}

.thumbnail-spinner-container {
    top: 0;
    width: 95%;
    height: 100%;
    background: white;
    position: absolute;
}

.spinner {
    margin: auto;
    display: block;
    padding-top: 163px;
}

.thumbnail-spinner {
    margin: auto;
    display: block;
    padding-top: calc(12%);
}

.resolution-radios {
    float: right;
    padding-top: 5px;
}

.float-left {
    float: left;
}

body, html {
    height: 100%;
}

div.wrap {
    height: 100%;
    overflow: hidden;
}

body {
    overflow: hidden;
}