<html ng-app="imageGalleryApp">
    <head>
        <link rel="stylesheet" type="text/css" href="../../../assets/css/pagination.css"/>
        <link rel="stylesheet" type="text/css" href="../../../assets/css/imageGalleryApp.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="imageGalleryController.js"></script>
        <script src="flickrImageSearchService.js"></script>
    </head>
    <body>
        <div class="wrap" ng-controller="ImageGalleryController">
            <div class="page-title">Flickr Image Search</div>
            <div class="search-criteria-container">
                <label>Search:</label>
                <input type="text" ng-model="searchCriteria.tags" ng-change="searchImages()"
                       placeholder="Enter tags separated by comma" autofocus>
                <input type="radio" ng-model="searchCriteria.mode" ng-change="searchImages()" value="any"/>Any Tags
                <input type="radio" ng-model="searchCriteria.mode" ng-change="searchImages()" value="all" ng-value="all"/>All
                Tags
            </div>
            <div class="thumbnails-container">
                <div class="thumbnail-with-meta-data float-left"
                     ng-repeat="image in images | pagination: currentPageIndex * pageSize | limitTo: pageSize"
                >
                    <img ng-src="{{image.media.m}}" ng-attr-title="{{image.title}}"
                         ng-mouseenter="mouseOverOnImage($index)">
                    <div class="title">
                        <a href="{{image.link}}" ng-attr-title="{{image.title}}">{{image.title}}</a>
                    </div>
                    <div class="author">
                        <a href="https://www.flickr.com/photos/{{image.author_id}}/" ng-attr-title="{{image.author}}">by
                            {{image.author}}</a>
                    </div>
                    <div class="tags" ng-attr-title="{{image.tags}}">tags: {{image.tags}}</div>
                </div>

                <div class="pagination-container" ng-show="numberOfImages > pageSize">
                    <ul class="pagination">
                        <li>
                            <button type="button" ng-disabled="currentPageIndex == 0" ng-click="currentPageIndex = 0; currentImageIndex = 0">
                                &lt;&lt;</button>
                        </li>
                        <li>
                            <button type="button" ng-disabled="currentPageIndex == 0"
                                    ng-click="currentPageIndex = currentPageIndex - 1; currentImageIndex = currentPageIndex * pageSize">&lt;</button>
                        </li>
                        <li>
                            <button type="button" ng-disabled="currentPageIndex >= numberOfImages/pageSize - 1"
                                    ng-click="currentPageIndex = currentPageIndex + 1; currentImageIndex = currentPageIndex * pageSize">&gt;</button>
                        </li>
                        <li>
                            <button type="button" ng-disabled="currentPageIndex >= numberOfImages/pageSize - 1"
                                    ng-click="currentPageIndex = numberOfImages/pageSize - 1; currentImageIndex = numberOfImages - pageSize">&gt;&gt;</button>
                        </li>
                    </ul>
                    <span>Page {{currentPageIndex + 1}} of {{ numberOfPages }}</span>
                </div>
            </div>

            <div class="image-preview-container" ng-show="numberOfImages > 0">
                <img class="image-preview" ng-src="{{getImageSource()}}">

                <div class="pagination-container">
                    <ul class="pagination">
                        <li>
                            <button type="button" ng-disabled="currentImageIndex == 0" ng-click="currentPageIndex = 0; currentImageIndex = 0">
                                &lt;&lt;</button>
                        </li>
                        <li>
                            <button type="button" ng-disabled="currentImageIndex == 0"
                                    ng-click="currentImageIndex = currentImageIndex - 1; setCurrentPageOnImageNavigation()">&lt;</button>
                        </li>
                        <li>
                            <button type="button" ng-disabled="isCurrentImageIndexInvalid()"
                                    ng-click="currentImageIndex = currentImageIndex + 1; setCurrentPageOnImageNavigation()">&gt;</button>
                        </li>
                        <li>
                            <button type="button" ng-disabled="isCurrentImageIndexInvalid()"
                                    ng-click="currentPageIndex = numberOfImages/pageSize - 1; currentImageIndex =  numberOfImages - 1">
                                &gt;&gt;</button>
                        </li>
                    </ul>
                    <span>Image {{currentImageIndex + 1}} of {{ numberOfImages }}</span>

                    <div class="resolution-radios">
                        <input type="radio" ng-model="resolution" value="HIGH"/>High-Resolution Preview
                        <input type="radio" ng-model="resolution" value="LOW" ng-value="LOW"/>Low-Resolution Preview
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>